@import url(style.css);
nav a {
  text-decoration: none;
  color: #fff
}
.intro-project{
  background-color: #cccccc;
  width: 100%;
  height: 50vh;
}
.section {
  width: 70%;
  margin: 0 auto;
}
.section p {
  color: #6e6e6e;
}
footer {
  margin-top: 25px;
}
.intro-project-screech{
  background-image: url(../assets/Screeech.png);
  background-size: contain;
}
.screech-text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 110, 30, 0.6);
}
.screech-text h1 {
  font-size: 2rem;
}
.intro-project-dino{
  background-image: url(../assets/DinoRun.png);
  background-size: contain;
}
.dino-text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 230, 230, 0.6);
}
.dino-text h1 {
  font-size: 2rem;
}
.intro-project-recipe{
  background-image: url(../assets/RecipeApp.png);
  background-size: contain;
}
.recipe-text{
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.6);
}
.dino-text h1 {
  font-size: 2rem;
}