@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
  font-family: 'Source Code Pro', monospace;
  line-height: 2rem;
  margin: 0px;
}
input {
  display: none;
}
button a {
  text-decoration: none;
  color: #000;
}
button a:hover{
  color: #fff;
  transition: 0.5s;
}
.open {
  background-color: #fff;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  margin-left: auto;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(15, 82, 186, 0.9);
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 100%;
  height: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: #e7e7e7;
  text-decoration: none;
  transition: color 0.2s;
  text-transform: uppercase;
  padding: 15px 0;
}

.menu ul li a:hover {
  transition: 0.5s;
  color: #fff;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: #fff;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 3;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}
.navigation{
  background-color: #0f52ba;
  display: flex;
  align-items: center;
  height: 50px;
}
.navigation strong{
  color: #fff;
  font-size: 1.2rem;
  padding: 15px;
}
.intro-section{
  width: 100%;
  background-color: #d5ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-bottom: 50px;
}
.intro-section p {
  z-index: 1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.556rem;
  text-align: center;
}
.project-section{
  display: flex;
  justify-content: center;
  height: 400px;
}

.project-section img{
  width: 100%; 
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.project-section div {
  padding: 25px;
  margin: auto 0 auto 0;
  height: 200px;
}
button {
  padding: .55556rem;
  background-color: #fff;
  border: 1px solid #0f52ba;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  outline: 0;
  font-size: .88rem;
  display: inline-block;
  text-align: center;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
button a{
  color: #0f52ba;
}
button:hover{
  background-color: #0f52ba;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}
footer {
  /* background-color: #0f52ba; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation__menu li strong {
  padding: 0;
}
@keyframes animatedBackground {
  from {
      background-position: -10% 0
  }
  to {
      background-position: 110% 0
  }
}
#text {
	display: inline-block;
	color: #2980b9;
	border-right: 3px solid #2980b9;
}
#top_clouds, #bottom_clouds{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100px;
  background-repeat: repeat-y;
  background-position: 0;
  background-image: url(../assets/cloud.svg);
}
#top_clouds{
  animation: animatedBackground 10s linear infinite;
  margin-bottom: 30px;
}
#bottom_clouds {
  height: 150px;
  background-color: transparent;
  animation: animatedBackground 20s linear infinite;
} 
.contact__link{
  display: inline-block;
  text-decoration: none;

  font-size: 25px;
  width: 25px;
  height: 25px;
  padding: 8px;
  border-radius: 50%;

  text-align: center;
  /* background-color: ; */
  color: #0f52ba;
}