@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
  background-color: #f6c9a0;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 2rem;
  margin: 0px;
}

p{
  font-family: 'Space Grotesk', sans-serif;
}
input {
  display: none;
}

.intro-button{
  text-decoration: none;
  color: #000;
  padding: .55556rem;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  outline: 0;
  font-size: .88rem;
  display: inline-block;
  text-align: center;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.intro-button:hover{
  background-color: #000;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}
/* header */

.header {
  font-family: 'Krona One', sans-serif;
  background-color: #F7CBA1;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #000;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #000;
  color: #F7CBA1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header .logo {
    font-size: 2em;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.intro-section{
  width: 100%;
  /* background-color: #d5ffff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-bottom: 50px;
}
.intro-section h1 {
  z-index: 1;
  font-family: 'Krona One', sans-serif;
  font-size: 3rem;
  text-align: center;
}
.intro-section p {
  z-index: 1;
  font-family: 'Krona One', sans-serif;
  font-size: 1.556rem;
  text-align: center;
}
.project-section{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
}

.project-section img{
  width: 100%; 
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.project-section div {
  width: 60%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.project-section .intro-description {
  flex-direction: column;
}
.project-section div p{
  font-family: 'Krona One', sans-serif;
}
@media (max-width: 48em) {
  
  
  .project-section img{
    width: 100%; 
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  .project-section div {
    width: 60%;
  }
}
footer {
  /* background-color: #0f52ba; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navigation__menu li strong {
  padding: 0;
}
@keyframes animatedBackground {
  from {
      background-position: -10% 0
  }
  to {
      background-position: 110% 0
  }
}
#text {
	display: inline-block;
	color: #2980b9;
	border-right: 3px solid #2980b9;
}
#top_clouds, #bottom_clouds{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100px;
  background-repeat: repeat-y;
  background-position: 0;
  background-image: url(../assets/cloud.svg);
}
#top_clouds{
  animation: animatedBackground 10s linear infinite;
  margin-bottom: 30px;
}
#bottom_clouds {
  height: 150px;
  background-color: transparent;
  animation: animatedBackground 20s linear infinite;
} 
.contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__email{
  width: 60%;
}
.contact__link{
  display: inline-block;
  text-decoration: none;

  font-size: 40px;
  width: 40px;
  height: 40px;
  padding: 16px;
  border-radius: 50%;

  text-align: center;
  /* background-color: ; */
  color: #000;
}
.contact__link:hover{
  background-color: #000;
  color: #f6c9a0;
}
.current{
  color: #000;
}
.current:hover{
  background-color: transparent !important;
  color: #000 !important;
}
.contact__email h3{
  font-family: 'Krona One', sans-serif;
}